fieldset legend .subtitle {
    font-size: 80%;
}

tr .highlight {
    color: #a94442;
    font-weight: bold;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

/* This is here to fix ui bootsrap modal from shifting content to the left on modal pop up*/
body {
    overflow-y: auto;
}
